.html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    
    body {
    background: url("/static/image/background.jpg");
    background-size: cover;
    }
    h1, h2 {
   
    font-weight: 400;
    }
    h2 {
    margin: 0 0 0 8px;
    }
    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5); 
    
    }
    .left-part, form {
    padding: 200px;
    }
    .left-part {
    text-align: center;
    }
    .fa-graduation-cap {
    font-size: 52px;
    }
    form {
    background: transparent; 
    
   
    }
    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .info {
    display: flex;
    flex-direction: column;
    }
   
    
    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option:focus {
    border: none;
    }
    option {
    background: black; 
    border: none;
    }
   
    
    .checkbox a {
    color: #26a9e0;
    }
    .checkbox a:hover {
    color: #85d6de;
    }
    .btn-item, button {
        width: 40%;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 25px; 
    border: 1px solid #fff;
    background: transparent; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    }
    .btn-item {
    display: inline-block;
    margin: 10px 5px 0;
    }
    button {
    width: 100%;
    }
    
    @media (min-width: 568px) {
    html, body {
    height: 100%;
    }
    .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
    }
    .left-part, form {
    flex: 1;
    height: auto;
    }
    }