<!DOCTYPE html>
<html>
   
    <head>
        <title>
            Login-GroWorthylife
        </title>
        <link rel="shortcut icon" href="images/favicon.jpeg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="avatar-page.css">    
        <body>
           <div class="container">
            
                
                
            
            <div class="content">
                <img src="images/avatar.png" class="logo">
                <br>
                <a href="Sign-in.html">
                    <button type="button">Hey Buddy! I am your Avatar <br>Click to Launch</button>
                </a>
                
           
            </div>
            <div class="hero">
                
            
            <div class="text-box">
                <p>HESITATION IS DEFEAT</p>
                <br>
                <h1>GroWorthylife</h1>
                <br>
                <h3>A PLATFORM TO BE PRODUCTIVE & BUILD YOURSELF</h3>
            </div>

           </div>
        
            <center>
            </head>
        </body>
</html>