{% extends 'base.html' %}
{% load static %}

{% block title %}
Login | GroWorthylife
{% endblock title %}

{% block stylesheet_linking %}
<link rel="stylesheet" href="{% static 'css/sign-in.css' %}">
{% endblock stylesheet_linking %}

{% block content %}
<div class="main-block">
  <div class="left-part">
    <i class="fas fa-graduation-cap"></i>
    <h1>Not Registered yet? REGISTER HERE</h1>
    <div class="btn-group">
      <a class="btn-item" href="{% url 'register' %}">Register</a>
      <!-- <a class="btn-item" href="{% url 'welcome' %}">Welcome Page</a> -->
    </div>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>LOGIN HERE</h2>
    </div>
    <div class="info">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock content %}